<div class="homepage">
    <h1 class="home-title">
    </h1>
<section class="navigation">
  <div class="nav-container">
    <div class="brand">
      <a href="#!">Ö SEKSI</a>
    </div>
    <nav>
      <div class="nav-mobile"><a id="nav-toggle" href="#!"><span></span></a></div>
      <ul class="nav-list">
        <li>
          <a href="#!">Home</a>
        </li>
        <li>
          <a href="#!">About</a>
        </li>
        <li>
          <a href="#!">Services</a>
          <ul class="nav-dropdown">
            <li>
              <a href="#!">Web Design</a>
            </li>
            <li>
              <a href="#!">Web Development</a>
            </li>
            <li>
              <a href="#!">Graphic Design</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#!">Pricing</a>
        </li>
        <li>
          <a href="#!">Portfolio</a>
          <ul class="nav-dropdown">
            <li>
              <a href="#!">Web Design</a>
            </li>
            <li>
              <a href="#!">Web Development</a>
            </li>
            <li>
              <a href="#!">Graphic Design</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#!">Contact</a>
        </li>
      </ul>
    </nav>
  </div>
</section>

<article>
  <h2>Quelques chose ici</h2>
  <p>ici aussi  </p>
<!--   <p>Pout toute information <a href="http://www.taniarascia.com/responsive-dropdown-navigation-bar/">Read the tutorial!</a></p>
 -->
 <div class="sp-container">
  <div class="sp-content">
    <div class="sp-globe"></div>
    <h2 class="frame-1">SITE EN PREPARATION</h2>
    <h2 class="frame-2">MERCI DE REVENIR PROCHAINEMENT</h2>
    <h2 class="frame-3">DU PLAISIR VOUS ATTEND</h2>
    <h2 class="frame-4">TESTER LE!</h2>
    <h2 class="frame-5">
      <span>ACCESSOIRES,</span>
      <span>LINGERIE,</span>
      <span>EXPERIANCES.</span>
    </h2>
    <a class="sp-circle-link" href="https://nick.mkrtchyan.ga">Ö SEKSI</a>
  </div>
 </div>
</article>


